<?xml version="1.0" encoding="UTF-8"?>

<launch>

  <group ns='talos'>
  <rosparam file="$(find talos_control)/config/aruco_cartesian_controller.yaml" command="load"/>

  <node name="talos_control_spawner" pkg="controller_manager" type="spawner" output="screen" args="right_arm_controller"/>
  </group>
</launch>
