<?xml version="1.0"?>
<launch>
    <rosparam command="load" file="$(find talos_description)/config/orbit_parameters.yaml"/>
    <!-- Run the main MoveIt executable with trajectory execution -->
    <include file="$(find mario_move_it_config_quad_default_gripper)/launch/move_group.launch">
        <arg name="allow_trajectory_execution" value="true" />
        <arg name="moveit_controller_manager" value="ros_control" />
        <arg name="fake_execution_type" value="interpolate" />
        <arg name="info" value="true" />
        <arg name="debug" value="false" />
        <arg name="pipeline" value="ompl" />
        <arg name="load_robot_description" value="true" />
    </include>

    <!-- Start the simulated robot in an empty Gazebo world -->
    <include file="$(find mario_package)/launch/move_it_quad_default_gripper.launch" />

    

    
    <!-- Start the controllers and robot state publisher-->
    <include file="$(find mario_move_it_config_quad_default_gripper)/launch/control_utils.launch"/>

    <!-- Start moveit_rviz with the motion planning plugin -->
    <include file="$(find mario_move_it_config_quad_default_gripper)/launch/moveit_rviz.launch">
        <arg name="rviz_config" value="$(find mario_move_it_config_quad_default_gripper)/launch/moveit.rviz" />
    </include>
</launch>
